<a href="https://colab.research.google.com/github/nastyabekesheva/courseworks/blob/main/courseworkDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>>**НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ УКРАЇНИ**<br>
**«КИЇВСЬКИЙ ПОЛІТЕХНІЧНИЙ ІНСТИТУТ імені ІГОРЯ СІКОРСЬКОГО»**<br>
**НАВЧАЛЬНО-НАУКОВИЙ ФІЗИКО-ТЕХНІЧНИЙ ІНСТИТУТ**<br>
Кафедра математичного моделювання та аналізу даних

<br>
<br>
<br>


>>>>>КУРСОВА РОБОТА 
<br>

>з дисципліни «Спеціальні розділи програмування»<br>
На тему «Знайомство з можливостями Anaconda/IPython Notebook.<br>
Аналіз та візуалізація даних датасету »

<br>
<br>
<br>

>>>>>>>Студента  2 курсу ФІ-12 групи 
спеціальності 113 Прикладна математика \
Бекешевої А. О.       
Перевірила: Яйлимова Г. О.

<br>
<br>
<br>
<br>

>>>>>Київ – 2022



---

>[Розділ 1. Знайомство з можливостями Google Colab/IPython Notebook](#scrollTo=1IkuEqeopl2r)

>>[Colab vs Jupyter](#scrollTo=1IkuEqeopl2r)

>>[Початок роботи з Colab](#scrollTo=1IkuEqeopl2r)

>>[Що можна робити у створеному Notebook?](#scrollTo=1IkuEqeopl2r)

>>>[Essentials](#scrollTo=1IkuEqeopl2r)

>>>[Source Control](#scrollTo=1IkuEqeopl2r)

>>>[Tutorials](#scrollTo=1IkuEqeopl2r)

>[Розділ 2. Аналіз та візуалізація даних у середовищі IPython Notebook на модельних наборах даних.](#scrollTo=gPdQUk5ZxOom)

# Розділ 1. Знайомство з можливостями Google Colab/IPython Notebook

Colab — це безкоштовне середовище для записників Jupyter, яке повністю працює в хмарі. Найважливіше те, що для цього не потрібно налаштування, а створені вами блокноти можуть одночасно редагуватися членами вашої команди – так само, як ви редагуєте документи в Google Docs. Colab підтримує багато популярних бібліотек машинного навчання, які можна легко завантажити у свій блокнот.


## Colab vs Jupyter

Jupyter Lab	|Google Colab
---|--
Працює на локальному обладнанні	|Працює на сервері Google
Використовує системний процесор і немає доступу до зовнішніх GPU і TPU|	Безкоштовні GPU і TPU надаються, ви також можете використовуйте свою локальну машину для запуску коду
Ви повинні встановлювати бібліотеки вручну	|Більшість необхідних бібліотек попередньо встановлено
Не можна поділитися з іншими без завантаження файлів|	Можна поділитися з іншими без завантаження
Обмеження часу виконання залежать від системної пам’яті|	12/24 години роботи та може бути перервано Google
Необхідно встановити на комп’ютер через anaconda або python|	Не потрібно нічого встановлювати, можна використовувати через браузер
Неможливо отримати доступ до файлів ноутбука без жорсткого диска|	Доступ до нього можна отримати будь-де без жорсткого диска, оскільки він зберігається на вашому диску Google
Це абсолютно безкоштовно|	Це частково безкоштовно, ви можете взяти підписку за $9,99/місяць

## Початок роботи з Colab

На сайті https://colab.research.google.com натиснемо 'Sign in'. Для реєстрації потрібно мати Google акаунт.

<img src="https://lh3.googleusercontent.com/d/1TegmL8O0WMzWOgdN7BbwhqiAvfGLXwYs">

Далі потрібно створити новий Notebook за допомогою кнопки 'New Notebook'.

<img src="https://lh3.googleusercontent.com/d/1aocByh44cegdMQFPkyTrH0LlrRwT7FX9">

## Що можна робити у створеному Notebook?

<img src="https://lh3.googleusercontent.com/d/1nmHaUHDRiLh-3B3Uiu9pJeRSOHV5Z1eZ">

### Essentials



1.   Перейменувати файл
2.   Додати code cell, в якому пишется сам python код
3.   Додати text cell, в якому пишется markdown текст. Можна використовувати: 

>*   Заголовки
*   Стилізований текст
*   Посилання
*   Картинки
*   Таблиці
*   Списки
*   $\LaTeX$ формули

4.   Поділитися файлом з різним можливим наданням доступу
5.   Налаштувати Notebook

### Source Control

Невеличка довідка:

Контроль джерела (або контроль версій) — це практика відстеження та керування змінами коду. Системи керування джерелом (SCM) забезпечують поточну історію розробки коду та допомагають вирішувати конфлікти під час об’єднання внесків із кількох джерел.

GitHub — це інтернет-сервіс для розробки програмного забезпечення та контролю джерела за допомогою Git. Він забезпечує розподілене керування вихідним кодом Git плюс контроль доступу, відстеження помилок, запити функцій програмного забезпечення, керування завданнями, безперервну інтеграцію.

Прив'яжемо свій Notebook до GitHub аккаунт:

1.   Заходимо в 'Settings'
2.   'GiHub'
3.   Прив'язуємо свій акаунт
4.   'Files'
5.   'Save a copy on GitHub'
6.   Вибираємо потрібний 'repository' та 'branch'. Створюємо 'commit message'

<img src="https://lh3.googleusercontent.com/d/1RjiVs6sy1tE6cqBwkF63F4X8YIvMZxWb">

<img src="https://lh3.googleusercontent.com/d/1nlmsSw6Tgq-XZkDRg6suHcZKuihS8l6Y">

<img src="https://lh3.googleusercontent.com/d/1pniIkX0A4VUdrlqfOriTxpJVAxz5wPtu">

Після усіх вищеперерахованих кроків можно зайти на свій GitHub та перевірити наявність Notebook: 

<img src="https://lh3.googleusercontent.com/d/1GRGoc5w6zPz3LMhloD1r9dfmkbZWqs_I">

### Tutorials

На стартовій сторінці 'Welcome to Colab!' можно побачити декілька туторіалів по роботі з Colab, Data Science. Також є посилання на корисні ресурси та приелади деяких проектів.
  
  <tr>
    <td><img src='https://lh3.googleusercontent.com/d/1knAP8wHOGam8iNEvnyPw5yeEj4i6-CC-', width='500px'><td>
    <td><img src='https://lh3.googleusercontent.com/d/17LVGkVeCpIccVi19kxAS5ZWadurcbxMa', width='500px'><td>
    <td><img src='https://lh3.googleusercontent.com/d/1wRPaKH3Ne-7So_MAYh5fkKPXdGwc1e9w', width='500px'><td>
    <td><img src='https://lh3.googleusercontent.com/d/1Hg7UDGZm1je6-HHZXqSkroSCS6W9ZC-N', width='500px'><td>
    <td><img src='https://lh3.googleusercontent.com/d/1L3hzEdO6DZjuF2s_aeY6Cqx9bTWjBlv1', width='500px'><td>
    <td><img src='https://lh3.googleusercontent.com/d/1RvDOm_ePCpNlfRlnCqyncLS1D1QxlViA', width='500px'><td>
  </tr>



---

# Розділ 2. Аналіз та візуалізація даних у середовищі IPython Notebook на модельних наборах даних.

## Встановлюємо Датасет.

In [40]:
from google.colab import drive
drive.mount('/content/gdrive')
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/MyDrive/coursework"

%cd /content/gdrive/MyDrive/coursework

!kaggle datasets download -d krystianadammolenda/refugees-from-ukraine-poland

!unzip \*.zip  && rm *.zip

KeyboardInterrupt: ignored

In [41]:
import pandas as pd
import numpy as np
import datetime

## Аналіз набору даних на наявність пропущених значень та NaN.

In [35]:
path = '/content/gdrive/MyDrive/coursework/border_traffic_UA_PL_01_03.csv'
df = pd.read_csv(path)
  
df.head()

,Border Guard Post,Border crossing,Type of border crossing,Border Guard Unit,Date,Direction to / from Poland,Citizenship (code),UE / Schengen,Number of persons (checked-in),Number of people (evacuated)
0,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,BY,0,7,0
1,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,DE,UE,29,0
2,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,TR,0,2,0
3,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,UA,0,389,0
4,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,LV,UE,3,0

In [17]:
df.isnull().values.any() # шукаємо пропущені значення

True

В датасеті є прропущенні значення. Потрібно їх порахувати і замінити

In [18]:
missing_values_count = df.isnull().sum() # рахуємо пропущені значення
total_missing = missing_values_count.sum() 

print(f'Пропущено : {total_missing}')

Пропущено : 107

In [29]:
df = df.fillna(method='bfill') # заміняємо
df.isnull().values.any()

False

In [52]:
df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d")

## Представлення даних у матричному вигляді.

In [54]:
df_cut = df[:10][['Date', 'UE / Schengen', 'Number of persons (checked-in)', 'Number of people (evacuated)']]
df_cut.style.highlight_max(color='green').highlight_min(color='red')

In [55]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Number of persons (checked-in)    78.063485
Number of people (evacuated)      33.785555
dtype: float64

In [57]:
df.var()

Number of persons (checked-in)    464594.134873
Number of people (evacuated)       97917.292300
dtype: float64

False