<a href="https://colab.research.google.com/github/nastyabekesheva/DataScience/blob/main/labs/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import urllib.request
from datetime import datetime
import numpy as np

In [23]:
NOAAIndex = {
        1:24,
        2:25,
        3:5,
        4:6,
        5:27,
        6:23,
        7:26,
        8:7,
        9:11,
        10:13,
        11:14,
        12:15,
        13:16,
        14:17,
        15:18,
        16:19,
        17:21,
        18:22,
        19:8,
        20:9,
        21:10,
        22:1,
        23:3,
        24:2,
        25:4, 
        26:12,
        27:20 
}

In [24]:
def download_data(index, min_year=1991, max_year=2022): 
    time = f"{datetime.now().month}-{datetime.now().day}-{datetime.now().year}--{datetime.now().hour}:{datetime.now().minute}"
    url = f"https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={NOAAIndex[index]}&year1={min_year}&year2={max_year}&type=Mean"
    path = f"vhi_{index}--{time}.csv"
    urllib.request.urlretrieve(url, path)
    print(f"File {path} downloaded successfully")
    
for i in range(1,28):
    download_data(i)

File vhi_1--10-10-2022--14:0.csv downloaded successfully
File vhi_2--10-10-2022--14:0.csv downloaded successfully
File vhi_3--10-10-2022--14:0.csv downloaded successfully
File vhi_4--10-10-2022--14:0.csv downloaded successfully
File vhi_5--10-10-2022--14:0.csv downloaded successfully
File vhi_6--10-10-2022--14:0.csv downloaded successfully
File vhi_7--10-10-2022--14:0.csv downloaded successfully
File vhi_8--10-10-2022--14:0.csv downloaded successfully
File vhi_9--10-10-2022--14:0.csv downloaded successfully
File vhi_10--10-10-2022--14:0.csv downloaded successfully
File vhi_11--10-10-2022--14:0.csv downloaded successfully
File vhi_12--10-10-2022--14:0.csv downloaded successfully
File vhi_13--10-10-2022--14:0.csv downloaded successfully
File vhi_14--10-10-2022--14:0.csv downloaded successfully
File vhi_15--10-10-2022--14:0.csv downloaded successfully
File vhi_16--10-10-2022--14:0.csv downloaded successfully
File vhi_17--10-10-2022--14:0.csv downloaded successfully
File vhi_18--10-10-2022--14:0.csv downloaded successfully
File vhi_19--10-10-2022--14:1.csv downloaded successfully
File vhi_20--10-10-2022--14:1.csv downloaded successfully
File vhi_21--10-10-2022--14:1.csv downloaded successfully
File vhi_22--10-10-2022--14:1.csv downloaded successfully
File vhi_23--10-10-2022--14:1.csv downloaded successfully
File vhi_24--10-10-2022--14:1.csv downloaded successfully
File vhi_25--10-10-2022--14:1.csv downloaded successfully
File vhi_26--10-10-2022--14:1.csv downloaded successfully
File vhi_27--10-10-2022--14:1.csv downloaded successfully

In [25]:
def load_data_to_df(index):
  columns = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI']
  try:
    df = pd.read_csv(f"vhi_{index}--{datetime.now().month}-{datetime.now().day}-{datetime.now().year}--{datetime.now().hour}:{datetime.now().minute}.csv", names = columns)
  except:
    df = pd.read_csv(f"vhi_{index}--{datetime.now().month}-{datetime.now().day}-{datetime.now().year}--{datetime.now().hour}:{datetime.now().minute-1}.csv", names = columns)
  df = df.dropna()
  df.drop(index=df.index[0], 
        axis=0, 
        inplace=True)
  df['Region'] = np.repeat(str(index), len(df['Week']))
  df.reset_index()
  return df

In [26]:
def parse_data(df):
  for i in df:
    try:
      df[i] = pd.to_numeric(df[i])
    except:
      print(f"Parsing data for region: {df['Region'][2]}, column: {i}")
      for j in range(2, len(df[i])+2):
        parse_temp1 = df[i][j].split(">")
        parse_temp2 = [parse_temp1[p].split("<") for p in range(len(parse_temp1))]
        parse_temp3 = 0
        for k in parse_temp2:
          for l in k:
            try:
              parse_temp3 = float(l)
              if parse_temp3 == int(parse_temp3):
                parse_temp3 = int(parse_temp3)
            except:
              pass    
        df[i][j] = parse_temp3 

  
  return df

In [27]:
def merge_df(data):
  df = pd.concat(data, ignore_index = True)
  df.reset_index()

  return df

In [28]:
def max_vhi(df, year, region):
  df = df.loc[(df['Year'] == year) & (df['Region'] == region)]

  return df.loc[df['VHI'].idxmax()]

In [29]:
def min_vhi(df, year, region):
  df = df.loc[(df['Year'] == year) & (df['Region'] == region)]

  return df.loc[df['VHI'].idxmin()]

In [30]:
def extreme_vhi(df, region):
  df = df.loc[df['Region'] == region]

  return df.loc[df['VHI'] < 15]

In [31]:
def moderate_vhi(df, region):
  df = df.loc[df['Region'] == region]

  return df.loc[(df['VHI'] > 15) & (df['VHI'] < 35)]

In [32]:
data = []
for i in range(1, 28):
  data.append(load_data_to_df(i))

new_data = []
for i in range(0, 27):
  new_data.append(parse_data(data[i]))


df = merge_df(new_data)
df

Parsing data for region: 1, column: Year
Parsing data for region: 2, column: Year
Parsing data for region: 3, column: Year
Parsing data for region: 4, column: Year
Parsing data for region: 5, column: Year
Parsing data for region: 6, column: Year
Parsing data for region: 7, column: Year
Parsing data for region: 8, column: Year
Parsing data for region: 9, column: Year
Parsing data for region: 10, column: Year
Parsing data for region: 11, column: Year
Parsing data for region: 12, column: Year
Parsing data for region: 13, column: Year
Parsing data for region: 14, column: Year
Parsing data for region: 15, column: Year
Parsing data for region: 16, column: Year
Parsing data for region: 17, column: Year
Parsing data for region: 18, column: Year
Parsing data for region: 19, column: Year
Parsing data for region: 20, column: Year
Parsing data for region: 21, column: Year
Parsing data for region: 22, column: Year
Parsing data for region: 23, column: Year
Parsing data for region: 24, column: Year
Parsing data for region: 25, column: Year
Parsing data for region: 26, column: Year
Parsing data for region: 27, column: Year

       Year  Week    SMN     SMT    VCI    TCI    VHI  Region
0      1991     1  0.050  264.38  40.90  25.43  33.17       1
1      1991     2  0.056  265.30  47.38  24.65  36.01       1
2      1991     3  0.059  265.57  50.61  26.04  38.33       1
3      1991     4  0.056  264.01  46.87  32.92  39.89       1
4      1991     5  0.051  263.60  39.60  37.46  38.53       1
...     ...   ...    ...     ...    ...    ...    ...     ...
44923  2022    48 -1.000   -1.00  -1.00  -1.00  -1.00      27
44924  2022    49 -1.000   -1.00  -1.00  -1.00  -1.00      27
44925  2022    50 -1.000   -1.00  -1.00  -1.00  -1.00      27
44926  2022    51 -1.000   -1.00  -1.00  -1.00  -1.00      27
44927  2022    52 -1.000   -1.00  -1.00  -1.00  -1.00      27

[44928 rows x 8 columns]

In [33]:
pd.DataFrame.from_dict(max_vhi(df, 1999, 1))

Year        1999
Week          20
SMN        0.432
SMT       295.11
VCI        83.11
TCI        41.62
VHI        62.36
Region         1
Name: 435, dtype: object

In [34]:
pd.DataFrame.from_dict(min_vhi(df, 1999, 1))

           467
Year      1999
Week        52
SMN      0.024
SMT     261.91
VCI       8.81
TCI       35.7
VHI      22.25
Region       1

In [35]:
pd.DataFrame.from_dict(extreme_vhi(df, 1))

      Year  Week    SMN     SMT    VCI    TCI    VHI  Region
192   1994    37 -1.000   -1.00  -1.00  -1.00  -1.00       1
193   1994    38 -1.000   -1.00  -1.00  -1.00  -1.00       1
194   1994    39 -1.000   -1.00  -1.00  -1.00  -1.00       1
195   1994    40 -1.000   -1.00  -1.00  -1.00  -1.00       1
196   1994    41 -1.000   -1.00  -1.00  -1.00  -1.00       1
197   1994    42 -1.000   -1.00  -1.00  -1.00  -1.00       1
198   1994    43 -1.000   -1.00  -1.00  -1.00  -1.00       1
199   1994    44 -1.000   -1.00  -1.00  -1.00  -1.00       1
200   1994    45 -1.000   -1.00  -1.00  -1.00  -1.00       1
201   1994    46 -1.000   -1.00  -1.00  -1.00  -1.00       1
202   1994    47 -1.000   -1.00  -1.00  -1.00  -1.00       1
203   1994    48 -1.000   -1.00  -1.00  -1.00  -1.00       1
204   1994    49 -1.000   -1.00  -1.00  -1.00  -1.00       1
205   1994    50 -1.000   -1.00  -1.00  -1.00  -1.00       1
206   1994    51 -1.000   -1.00  -1.00  -1.00  -1.00       1
207   1994    52 -1.000   -1.00  -1.00  -1.00  -1.00       1
208   1995     1 -1.000   -1.00  -1.00  -1.00  -1.00       1
209   1995     2 -1.000   -1.00  -1.00  -1.00  -1.00       1
210   1995     3 -1.000   -1.00  -1.00  -1.00  -1.00       1
512   2000    45  0.070  278.30   6.71  17.80  12.26       1
513   2000    46  0.055  276.68   7.14  15.43  11.28       1
514   2000    47  0.041  274.89   7.55  14.94  11.25       1
515   2000    48  0.032  273.63   9.03  13.73  11.38       1
516   2000    49  0.031  272.13  11.81  14.01  12.91       1
517   2000    50  0.030  270.44  14.30  14.10  14.20       1
632   2003     9 -1.000   -1.00  -1.00  -1.00  -1.00       1
677   2004     2 -1.000   -1.00  -1.00  -1.00  -1.00       1
678   2004     3 -1.000   -1.00  -1.00  -1.00  -1.00       1
679   2004     4 -1.000   -1.00  -1.00  -1.00  -1.00       1
686   2004    11 -1.000   -1.00  -1.00  -1.00  -1.00       1
687   2004    12 -1.000   -1.00  -1.00  -1.00  -1.00       1
688   2004    13 -1.000   -1.00  -1.00  -1.00  -1.00       1
689   2004    14 -1.000   -1.00  -1.00  -1.00  -1.00       1
690   2004    15 -1.000   -1.00  -1.00  -1.00  -1.00       1
691   2004    16 -1.000   -1.00  -1.00  -1.00  -1.00       1
692   2004    17 -1.000   -1.00  -1.00  -1.00  -1.00       1
693   2004    18 -1.000   -1.00  -1.00  -1.00  -1.00       1
694   2004    19 -1.000   -1.00  -1.00  -1.00  -1.00       1
695   2004    20 -1.000   -1.00  -1.00  -1.00  -1.00       1
696   2004    21 -1.000   -1.00  -1.00  -1.00  -1.00       1
697   2004    22 -1.000   -1.00  -1.00  -1.00  -1.00       1
698   2004    23 -1.000   -1.00  -1.00  -1.00  -1.00       1
699   2004    24 -1.000   -1.00  -1.00  -1.00  -1.00       1
704   2004    29 -1.000   -1.00  -1.00  -1.00  -1.00       1
744   2005    17 -1.000   -1.00  -1.00  -1.00  -1.00       1
1652  2022    41 -1.000   -1.00  -1.00  -1.00  -1.00       1
1653  2022    42 -1.000   -1.00  -1.00  -1.00  -1.00       1
1654  2022    43 -1.000   -1.00  -1.00  -1.00  -1.00       1
1655  2022    44 -1.000   -1.00  -1.00  -1.00  -1.00       1
1656  2022    45 -1.000   -1.00  -1.00  -1.00  -1.00       1
1657  2022    46 -1.000   -1.00  -1.00  -1.00  -1.00       1
1658  2022    47 -1.000   -1.00  -1.00  -1.00  -1.00       1
1659  2022    48 -1.000   -1.00  -1.00  -1.00  -1.00       1
1660  2022    49 -1.000   -1.00  -1.00  -1.00  -1.00       1
1661  2022    50 -1.000   -1.00  -1.00  -1.00  -1.00       1
1662  2022    51 -1.000   -1.00  -1.00  -1.00  -1.00       1
1663  2022    52 -1.000   -1.00  -1.00  -1.00  -1.00       1

In [36]:
pd.DataFrame.from_dict(moderate_vhi(df, 1))

      Year  Week    SMN     SMT    VCI    TCI    VHI  Region
0     1991     1  0.050  264.38  40.90  25.43  33.17       1
10    1991    11  0.054  274.15  20.29  43.67  31.98       1
11    1991    12  0.066  277.72  19.50  42.70  31.10       1
12    1991    13  0.079  280.77  15.74  42.37  29.06       1
13    1991    14  0.091  282.69   9.97  48.25  29.11       1
...    ...   ...    ...     ...    ...    ...    ...     ...
1629  2022    18  0.307  295.99  52.54  14.39  33.47       1
1630  2022    19  0.340  297.11  53.00  15.09  34.04       1
1631  2022    20  0.369  298.00  52.94  16.19  34.57       1
1632  2022    21  0.394  298.64  52.41  17.33  34.87       1
1633  2022    22  0.414  299.17  51.04  18.13  34.58       1

[160 rows x 8 columns]