<a href="https://colab.research.google.com/github/nastyabekesheva/DataScience/blob/main/labs/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import urllib.request
from datetime import datetime
import numpy as np

In [36]:
NOAAIndex = {
        1:24,
        2:25,
        3:5,
        4:6,
        5:27,
        6:23,
        7:26,
        8:7,
        9:11,
        10:13,
        11:14,
        12:15,
        13:16,
        14:17,
        15:18,
        16:19,
        17:21,
        18:22,
        19:8,
        20:9,
        21:10,
        22:1,
        23:3,
        24:2,
        25:4, 
        26:12,
        27:20 
}

In [38]:
def download_data(index, min_year=1991, max_year=2022): 
    time = f"{datetime.now().month}-{datetime.now().day}-{datetime.now().year}--{datetime.now().hour}:{datetime.now().minute}"
    url = f"https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={NOAAIndex[index]}&year1={min_year}&year2={max_year}&type=Mean"
    path = f"vhi_{index}--{time}.csv"
    urllib.request.urlretrieve(url, path)
    print(f"File {path} downloaded successfully")
    
for i in range(1,28):
    download_data(i)

File vhi_1--10-4-2022--20:8.csv downloaded successfully
File vhi_2--10-4-2022--20:8.csv downloaded successfully
File vhi_3--10-4-2022--20:8.csv downloaded successfully
File vhi_4--10-4-2022--20:8.csv downloaded successfully
File vhi_5--10-4-2022--20:8.csv downloaded successfully
File vhi_6--10-4-2022--20:8.csv downloaded successfully
File vhi_7--10-4-2022--20:8.csv downloaded successfully
File vhi_8--10-4-2022--20:8.csv downloaded successfully
File vhi_9--10-4-2022--20:8.csv downloaded successfully
File vhi_10--10-4-2022--20:8.csv downloaded successfully
File vhi_11--10-4-2022--20:8.csv downloaded successfully
File vhi_12--10-4-2022--20:8.csv downloaded successfully
File vhi_13--10-4-2022--20:8.csv downloaded successfully
File vhi_14--10-4-2022--20:8.csv downloaded successfully
File vhi_15--10-4-2022--20:8.csv downloaded successfully
File vhi_16--10-4-2022--20:8.csv downloaded successfully
File vhi_17--10-4-2022--20:8.csv downloaded successfully
File vhi_18--10-4-2022--20:8.csv downloaded successfully
File vhi_19--10-4-2022--20:8.csv downloaded successfully
File vhi_20--10-4-2022--20:8.csv downloaded successfully
File vhi_21--10-4-2022--20:8.csv downloaded successfully
File vhi_22--10-4-2022--20:8.csv downloaded successfully
File vhi_23--10-4-2022--20:8.csv downloaded successfully
File vhi_24--10-4-2022--20:8.csv downloaded successfully
File vhi_25--10-4-2022--20:8.csv downloaded successfully
File vhi_26--10-4-2022--20:8.csv downloaded successfully
File vhi_27--10-4-2022--20:8.csv downloaded successfully

In [77]:
def load_data_to_df(index):
  columns = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI']
  df = pd.read_csv(f"vhi_{index}--10-4-2022--19:43.csv", names = columns)
  df = df.dropna()
  df.drop(index=df.index[0], 
        axis=0, 
        inplace=True)
  df['Region'] = np.repeat(str(index), len(df['Week']))
  
  return df

In [78]:
def merge_df(data):
  df = pd.concat(data, ignore_index = True)
  df.reset_index()

  return df

In [87]:
def max_vhi(df, year, region):
  df = df.loc[(df['Year'] == year) & (df['Region'] == region)]

  return df.loc[df['VHI'].idxmax()]

In [93]:
def min_vhi(df, year, region):
  df = df.loc[(df['Year'] == year) & (df['Region'] == region)]

  return df.loc[df['VHI'].idxmin()]

In [108]:
def extreme_vhi(df, region):
  df = df.loc[df['Region'] == region]

  return df.loc[df['VHI'] < 15]

In [110]:
def moderate_vhi(df, region):
  df = df.loc[df['Region'] == region]

  return df.loc[(df['VHI'] > 15) & (df['VHI'] < 35)]

In [112]:
data = []
for i in range(1, 28):
  data.append(load_data_to_df(i))

df = merge_df(data)
df['VHI'] = pd.to_numeric(df['VHI'])
pd.DataFrame.from_dict(max_vhi(df, '1999', '1'))
#pd.DataFrame.from_dict(min_vhi(df, '1999', '1'))
#pd.DataFrame.from_dict(extreme_vhi(df, '1'))
#pd.DataFrame.from_dict(moderate_vhi(df, '1'))

           435
Year      1999
Week        20
SMN      0.432
SMT     295.11
VCI      83.11
TCI      41.62
VHI      62.36
Region       1